<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{STATIC_PATH}}/github-markdown-css/github-markdown.css">
</head>
<body>
    <div class="markdown-body">
        {{ mdhtml|safe }}
    </div>
</body>
</html>

<style>
.markdown-body {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
</style>